/* button {
  padding: 8px 20px;
  margin: 10px 0px;
  border-radius: 10px;
  border: none;
  background-color: #e6e3f6;
  cursor: pointer;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #ada5d8;
  color: white;
} */

/* .container-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
} */
